body {
    font-family: Arial, sans-serif;
    background-color: #6ba5ae;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
